body{
background-color: #d7d4d4;
height: 100vh;
margin: 0;
display: flex;
justify-content: center;
align-items: center;

}

form {
  text-align: center;
  padding:200px;
}

.login_form_btm {
  padding: 20px 0;
  margin: 20px 0;
}

input {
  width: 250px;
  height: 20px;
  padding: 3px;
  margin: 5px 0;
  border-radius: 5px;
}

button {
  width: 250px;
  height: 35px;
  margin-top: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  display: inline-block;  
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
  button:hover {
  transform: translateY(-3px); /* 鼠标悬停时微微上移 */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* 更强的阴影 */
}

.container {
  width:400px;
  border: 2px solid black;
  background-color: white;
  padding: 50px;
  margin: 20px;
  border-radius: 30px;
  border: solid 6px;
  box-sizing: border-box;

}


