<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="001_style.css">
    <title>ログイン</title>
</head>
<body>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
     <form name="login_form">
      <div class="login_form_top">
    </div>

    <div class="login_form_btm container">
     <img src="c:\Users\250450853\Documents\logo.pic\titl_logo.png" width="300" height="80"> 
     <input type="id" name="user_id" placeholder="UserID"><br>
     <input type="password" name="password"placeholder="Password">


       <button type="submit"><a herf = "file:///C:/Users/250450853/Documents/%E6%96%B0%E5%85%A5%E7%A4%BE%E5%91%98%E7%A0%94%E4%BF%AE/%E3%83%81%E3%83%BC%E3%83%A0%E6%BC%94%E7%BF%92/htmlcss/menuTemplate.html">ログイン</a></button>
    </form>
  </div>

</body>
</html>
